<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Welcome To Sunny Jobs</h1>
        <p>Continues job updates for every hour</p>
        <a  class="btn btn-primary btn-lg" href="/hydjobs"> Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a  class="btn btn-primary btn-lg" href="/bngjobs"> Banglore Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a  class="btn btn-primary btn-lg" href="/punejobs"> Pune Jobs</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </div>
    </div>
  </body>
</html>
